body {
  margin: 0 10%;
  text-align: center;
  color: red;
  font-size: 2.5vw;
}
.logo {
  width: 10%;
}

.name {
  width: 85%;
}
.header {
  border-bottom: 4px solid red;
  margin-bottom: 2%;
}
.offline {
  width: 60%;
  margin: auto;
  margin-bottom: 3%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  -webkit-flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}
.column {
  width: 32%;
  font-size: 2vw;
}
.writtenCol {
  align-self: center;
}

.column a {
  text-decoration: none;
  color: red;
  margin-top: 2%;
}

.column img {
  height: 100vh;
  max-height: 40vw;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.ss {
  max-width: 80vw;
}
.contact {
  margin-bottom: 2%;
  text-decoration: underline;
}
.weblink {
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.links a {
  color: red;
  text-decoration: none;
}
.icons {
  margin-right: 2%;
  margin-bottom: -1%;
}
